# Base de datos PostgreSQL
DATABASE_URL=https://ep-lucky-glitter-acxweg2l.apirest.sa-east-1.aws.neon.tech/neondb/rest/v1
#postgresql://usuario:password@localhost:5432/sgos

# Clave secreta para sesiones Flask (generar con: python -c "import os; print(os.urandom(32).hex())")
FLASK_SECRET_KEY=

# Entorno: development / production
FLASK_ENV=production

# Contraseña por defecto del usuario admin (solo se usa en la creación inicial)
ADMIN_DEFAULT_PASSWORD=admin123
